.section__banner {
  background-image: url("/assets/homebg1-381ccc6221eb9f8bbfb968dd8bfbcbc2c3be88ae4277c13ff5b2f0aae8908a4d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40%;
  position: relative;
  padding-bottom: 50px; }

header.mynavbar {
  background: transparent; }

.section__title {
  text-align: center;
  position: absolute;
  bottom: 0; }
