html {
  overflow-x: hidden; }

.bg {
  background-image: url("/assets/homebg1-381ccc6221eb9f8bbfb968dd8bfbcbc2c3be88ae4277c13ff5b2f0aae8908a4d.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-heading {
  padding-top: 80px;
  padding-bottom: 50px; }
  .section-heading span {
    border-left: 15px solid #2fc6bf;
    padding-left: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px; }

section#projects {
  padding-bottom: 80px; }

section#resume {
  padding: 100px;
  text-align: center;
  font-size: 30px; }
  section#resume a {
    color: white; }

section#resume, #contact, #workexperience {
  background-color: #6e7271;
  color: white; }

h1.title-custom {
  font-size: 80px;
  font-weight: 700;
  color: white;
  position: relative;
  text-align: left; }

h1.title-custom:after {
  content: 'HELLO';
  position: absolute;
  left: 5px;
  top: 5px;
  color: #6e7271; }

.education {
  padding-top: 80px;
  width: 100%; }

.work {
  padding-bottom: 80px; }

section#skills {
  padding-bottom: 80px;
  background-color: #2fc6bf; }
  section#skills .section-heading {
    padding-bottom: 0; }
    section#skills .section-heading span {
      border-left: 15px solid white;
      padding-left: 15px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 30px; }
  section#skills .myskills {
    background-image: url("/assets/portfolio/cubes-a7e49e435a75b4d6ccd4e7fde25dbdb3b6a33135c5fb8d8cc03c0e5101f5edff.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

section#interests {
  background-image: url("/assets/portfolio/img2-a32d2670dc2e7e01c4ae5cc1f3fa1111517aa794c1f1e6604530966fb648cf22.jpg");
  padding: 80px;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 150, 0.3); }
  section#interests .interests-heading h1 {
    color: white;
    font-size: 56px; }
  section#interests a {
    margin-top: 20px;
    text-decoration: none; }

.parallax {
  height: 400px;
  background-size: cover;
  /*forces the background image to occupy the total available space by expanding it proportionally*/
  background-attachment: fixed;
  /*fixes the bakcground while content scrolls past it*/
  background-repeat: no-repeat;
  /*not really necessary*/ }

.fa {
  padding: 20px;
  width: 80px;
  color: white; }

.fa-github:hover {
  background-color: black; }

.fa-linkedin:hover {
  background-color: #3395C3; }

.fa-envelope-o:hover {
  background-color: red; }

section#contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
