body {
  margin-bottom: 0; }

section#hello {
  background-image: url("/assets/portfolio/cover.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(31, 78, 121, 0.8);
  height: 80vh; }
  section#hello .container, section#hello .row {
    height: inherit; }
  section#hello .hello-text {
    color: white;
    display: flex;
    align-items: center;
    height: inherit; }

section#aboutme {
  background-color: beige; }
  section#aboutme .aboutme-img-col {
    display: flex;
    align-items: center; }
  section#aboutme .aboutme-img {
    padding: 100px; }
  section#aboutme #img-border {
    min-height: 340px;
    min-width: 340px;
    position: absolute;
    border: 2px solid;
    top: 80px;
    right: 80px;
    z-index: -1; }
  section#aboutme .aboutme-text {
    padding-top: 200px;
    padding-bottom: 200px; }

.section-title {
  border-bottom: 1px solid;
  padding: 10px; }

section#work {
  background-color: #1f4e79; }
  section#work .work-col {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white; }
  section#work .work-text {
    background-color: #6DBBEB;
    padding: 20px;
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  section#work .work-img {
    margin-bottom: 30px; }

@media screen and (max-width: 768px) {
  .proj-col {
    min-width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .proj-col {
    min-width: 50%; } }
@media screen and (min-width: 992px) {
  .proj-col {
    min-width: 33.333%;
    display: inline-block; } }
section#projects {
  background-color: #1f4e79;
  padding-bottom: 100px; }
  section#projects .proj-col {
    padding-right: 15px;
    padding-left: 15px; }
  section#projects .project-heading {
    margin-top: 30px;
    background-color: #6DBBEB;
    color: white;
    padding: 20px;
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  section#projects .project-text {
    position: relative;
    background-color: white;
    color: black;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease;
    margin-bottom: 30px;
    margin-top: 30px; }
  section#projects .project-description {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 230px;
    background: #6DBBEB;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s; }
  section#projects .project-text:hover {
    align-items: flex-start; }
    section#projects .project-text:hover .project-description {
      visibility: visible;
      opacity: 1; }

section#animation {
  padding-top: 250px;
  padding-bottom: 250px;
  position: relative; }
  section#animation .resume-col {
    position: absolute;
    width: 20%;
    height: 30%;
    bottom: -15%;
    left: 40%;
    padding: 0 50px;
    background-color: #3d3d3d;
    color: white;
    border: 2px solid; }
    section#animation .resume-col h3 {
      margin-bottom: 0; }

.parallax-bg {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/assets/portfolio/sutd.jpg");
  box-shadow: inset 0 0 0 2000px rgba(10, 10, 10, 0.5); }

section#footer {
  background-color: #3d3d3d;
  padding: 100px; }
  section#footer .footer-col-custom {
    display: flex;
    align-items: center;
    justify-content: center; }

section#copyright {
  background-color: black; }
  section#copyright p {
    margin-bottom: 0;
    margin-top: 0;
    color: white; }
